@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.part7c-total{
    height: 500px;
    width: 220px;
    border: 2px solid rgba(170, 175, 221, 0.42);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-item{
    background-color: white;
    border: 2px solid rgba(170, 175, 221, 0.42);
    border-radius: 8px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-item:hover{
    cursor: pointer;
}

.button-text{
    position: relative;
    font-size: 13px;
    width: 100px;
}

.button-icon{
    position: relative;
    left: 30px;
}